<a href="https://colab.research.google.com/github/2303A51670/ADM-Lab/blob/main/ADM_Lab06.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [12]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.preprocessing import LabelEncoder

In [4]:
df = pd.read_csv('/content/university_student.csv')

In [17]:
df

,Student ID,Date of Birth,Study Time,Grade,Absences,Math Score,Reading Score,Writing Score,Gender_Male,School Type_Public,Age,Total Score
0,1,1996-12-03,11,3,2,72,91,69,True,True,28,232
1,2,2001-09-15,5,3,0,66,58,62,False,False,23,186
2,3,2002-08-09,8,0,2,75,99,77,True,False,22,251
3,4,1999-04-29,8,0,3,57,76,97,True,False,25,230
4,5,1995-06-11,9,1,1,78,51,78,True,False,29,207
...,...,...,...,...,...,...,...,...,...,...,...,...
95,96,2004-12-04,8,2,1,87,85,88,False,True,20,260
96,97,2003-01-18,7,1,4,56,76,87,False,False,22,219
97,98,1999-01-24,14,0,2,95,66,83,False,False,26,244
98,99,2005-04-20,7,1,1,62,58,87,False,False,19,207
99,100,2004-12-25,7,1,2,89,82,99,True,False,20,270

In [5]:
df.head()

,Student ID,Gender,Date of Birth,Study Time,Grade,School Type,Absences,Math Score,Reading Score,Writing Score
0,1,Male,1996-12-03,11,D,Public,2,72,91,69
1,2,Female,2001-09-15,5,D,Private,0,66,58,62
2,3,Male,2002-08-09,8,A,Private,2,75,99,77
3,4,Male,1999-04-29,8,A,Private,3,57,76,97
4,5,Male,1995-06-11,9,B,Private,1,78,51,78

In [6]:
df.tail()

,Student ID,Gender,Date of Birth,Study Time,Grade,School Type,Absences,Math Score,Reading Score,Writing Score
95,96,Female,2004-12-04,8,C,Public,1,87,85,88
96,97,Female,2003-01-18,7,B,Private,4,56,76,87
97,98,Female,1999-01-24,14,A,Private,2,95,66,83
98,99,Female,2005-04-20,7,B,Private,1,62,58,87
99,100,Male,2004-12-25,7,B,Private,2,89,82,99

In [8]:
df.fillna(df.mean(numeric_only=True), inplace=True)
print(df.fillna)

<bound method NDFrame.fillna of     Student ID  Gender Date of Birth  Study Time Grade School Type  Absences  \
0            1    Male    1996-12-03          11     D      Public         2
1            2  Female    2001-09-15           5     D     Private         0
2            3    Male    2002-08-09           8     A     Private         2
3            4    Male    1999-04-29           8     A     Private         3
4            5    Male    1995-06-11           9     B     Private         1
..         ...     ...           ...         ...   ...         ...       ...
95          96  Female    2004-12-04           8     C      Public         1
96          97  Female    2003-01-18           7     B     Private         4
97          98  Female    1999-01-24          14     A     Private         2
98          99  Female    2005-04-20           7     B     Private         1
99         100    Male    2004-12-25           7     B     Private         2

    Math Score  Reading Score  Writing Score
0           72             91             69
1           66             58             62
2           75             99             77
3           57             76             97
4           78             51             78
..         ...            ...            ...
95          87             85             88
96          56             76             87
97          95             66             83
98          62             58             87
99          89             82             99

[100 rows x 10 columns]>

In [9]:
df = pd.get_dummies(df, columns=['Gender', 'School Type'], drop_first=True)
print(df)

    Student ID Date of Birth  Study Time Grade  Absences  Math Score  \
0            1    1996-12-03          11     D         2          72
1            2    2001-09-15           5     D         0          66
2            3    2002-08-09           8     A         2          75
3            4    1999-04-29           8     A         3          57
4            5    1995-06-11           9     B         1          78
..         ...           ...         ...   ...       ...         ...
95          96    2004-12-04           8     C         1          87
96          97    2003-01-18           7     B         4          56
97          98    1999-01-24          14     A         2          95
98          99    2005-04-20           7     B         1          62
99         100    2004-12-25           7     B         2          89

    Reading Score  Writing Score  Gender_Male  School Type_Public
0              91             69         True                True
1              58             62        False               False
2              99             77         True               False
3              76             97         True               False
4              51             78         True               False
..            ...            ...          ...                 ...
95             85             88        False                True
96             76             87        False               False
97             66             83        False               False
98             58             87        False               False
99             82             99         True               False

[100 rows x 10 columns]

In [13]:
label_encoder = LabelEncoder()
df['Grade'] = label_encoder.fit_transform(df['Grade'])

In [15]:
df['Date of Birth'] = pd.to_datetime(df['Date of Birth'])
df['Age'] = (pd.to_datetime('today') - df['Date of Birth']).dt.days // 365
df['Total Score'] = df[['Math Score', 'Reading Score', 'Writing Score']].sum(axis=1)
print(df.head())

   Student ID Date of Birth  Study Time  Grade  Absences  Math Score  \
0           1    1996-12-03          11      3         2          72
1           2    2001-09-15           5      3         0          66
2           3    2002-08-09           8      0         2          75
3           4    1999-04-29           8      0         3          57
4           5    1995-06-11           9      1         1          78

   Reading Score  Writing Score  Gender_Male  School Type_Public  Age  \
0             91             69         True                True   28
1             58             62        False               False   23
2             99             77         True               False   22
3             76             97         True               False   25
4             51             78         True               False   29

   Total Score
0          232
1          186
2          251
3          230
4          207

In [16]:
grouped_data = df.groupby('Grade').agg({'Total Score': 'mean', 'Study Time': 'mean', 'Absences': 'sum'})
print(grouped_data)

       Total Score  Study Time  Absences
Grade
0       232.535714   10.035714        80
1       215.500000   10.750000        30
2       230.428571    9.095238        50
3       227.304348   10.217391        52
4       210.062500    9.062500        38

In [18]:
s = df.select_dtypes(include=[np.number])

In [19]:
mean_values = s.mean()
print(s.mean)

<bound method DataFrame.mean of     Student ID  Study Time  Grade  Absences  Math Score  Reading Score  \
0            1          11      3         2          72             91
1            2           5      3         0          66             58
2            3           8      0         2          75             99
3            4           8      0         3          57             76
4            5           9      1         1          78             51
..         ...         ...    ...       ...         ...            ...
95          96           8      2         1          87             85
96          97           7      1         4          56             76
97          98          14      0         2          95             66
98          99           7      1         1          62             58
99         100           7      1         2          89             82

    Writing Score  Age  Total Score
0              69   28          232
1              62   23          186
2              77   22          251
3              97   25          230
4              78   29          207
..            ...  ...          ...
95             88   20          260
96             87   22          219
97             83   26          244
98             87   19          207
99             99   20          270

[100 rows x 9 columns]>

In [20]:
median_values = s.median()
print(s.median)

<bound method DataFrame.median of     Student ID  Study Time  Grade  Absences  Math Score  Reading Score  \
0            1          11      3         2          72             91
1            2           5      3         0          66             58
2            3           8      0         2          75             99
3            4           8      0         3          57             76
4            5           9      1         1          78             51
..         ...         ...    ...       ...         ...            ...
95          96           8      2         1          87             85
96          97           7      1         4          56             76
97          98          14      0         2          95             66
98          99           7      1         1          62             58
99         100           7      1         2          89             82

    Writing Score  Age  Total Score
0              69   28          232
1              62   23          186
2              77   22          251
3              97   25          230
4              78   29          207
..            ...  ...          ...
95             88   20          260
96             87   22          219
97             83   26          244
98             87   19          207
99             99   20          270

[100 rows x 9 columns]>

In [21]:
mode_values = s.mode().iloc[0]
print(s.mode)

<bound method DataFrame.mode of     Student ID  Study Time  Grade  Absences  Math Score  Reading Score  \
0            1          11      3         2          72             91
1            2           5      3         0          66             58
2            3           8      0         2          75             99
3            4           8      0         3          57             76
4            5           9      1         1          78             51
..         ...         ...    ...       ...         ...            ...
95          96           8      2         1          87             85
96          97           7      1         4          56             76
97          98          14      0         2          95             66
98          99           7      1         1          62             58
99         100           7      1         2          89             82

    Writing Score  Age  Total Score
0              69   28          232
1              62   23          186
2              77   22          251
3              97   25          230
4              78   29          207
..            ...  ...          ...
95             88   20          260
96             87   22          219
97             83   26          244
98             87   19          207
99             99   20          270

[100 rows x 9 columns]>